---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTutorMembers = await getCollection("tutor", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Our Tutors">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Tutors</Fragment>
      <Fragment slot="desc">Learn from experienced educators and industry experts.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-6xl mt-16">
      <h2 class="text-dark font-bold text-3xl text-gray-800">
        Expert Guidance for Your Academic Journey
      </h2>
      <p class="text-md leading-relaxed text-slate-500">
        Our tutors are carefully selected professionals with extensive teaching experience
        and deep subject matter expertise. Each brings a unique approach to helping
        students master complex concepts and achieve their academic goals.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-6xl mt-12">
      {
        publishedTutorMembers.map((tutorEntry) => (
          <a href={`/tutor/${tutorEntry.slug}`} class="group">
            <div class="w-full aspect-square">
              <Picture
                src={tutorEntry.data.image.src}
                alt={tutorEntry.data.image.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class= " text-dark text-lg text-gray-800">{tutorEntry.data.name}</h2>
              <h3 class= " text-dark text-sm text-slate-500">
                {tutorEntry.data.title}
              </h3>
            </div>
          </a>
        ))
      }
    </div>
  </Container>
</Layout>
